* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.button {
  /* display: block; */
  display: inline-block;
  min-width: 100px;
  border-radius: 50px;
  padding: 18px 10px;
  text-transform: uppercase;
}
.btn-link {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin: 0px 22px;
}
.btn-color__white {
  margin-right: 26px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 7px rgba(109, 39, 255, 0.2);
  text-align: center;
}
.btn-color__white .btn-link {
  color: #ce007e;
}
.btn-color__pink {
  background: #ce007e;
  box-shadow: 0px 4px 7px rgba(152, 43, 217, 0.5);
  text-align: center;
}
.btn-color__pink .btn-link {
  color: #ffffff;
}
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header-content-top {
  display: grid;
  position: relative;
  padding-top: 38px;
  padding-bottom: 34px;
  /* outline: 2px solid red; */
  grid-template-rows: 1fr;
  grid-template-columns: minmax(140px, 170px) 1fr 1fr;
  align-items: center;
}
.header-content-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #333333;
}
.header-content-top-contact {
  position: relative;
  justify-self: right;
}
.header-content-top__icon {
  position: absolute;

  display: block;
  width: 20px;
  margin-right: 20px;
  font-size: 28px;
}
.header-content-top__link {
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}
.header-content-bottom {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.header-content-bottom__button {
  display: flex;
  justify-content: flex-end;
}
.header-content-bototm__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-content-bottom__item:not(:last-child) {
  margin-right: 32px;
}
.header-content-bottom__link {
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}

/* ***HERO**** */
.section-hero {
  position: relative;
  padding-bottom: 40px;
}
.hero-content {
  position: relative;
  display: grid;
  grid-template-rows: 1fr minmax(10px, 20px) 1fr;
  grid-template-columns:
    minmax(50px, 140px) minmax(170px, 340px) minmax(110px, 188px)
    minmax(80px, 112px) 1fr;
  max-height: 700px;
  /* outline: 1px solid black; */
  /* padding: 20px 0px; */
}
.hero-content-heading {
  max-width: 540px;
  max-height: 280px;
  grid-row: 1/2;
  grid-column: 2/4;
  /* outline: 1px solid blue; */

  border-radius: 0 0 0 140px;
  background: #ffffff;
  opacity: 0.9;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: flex-end;
}
.hero-content-heading-wrapper {
  width: 90%;

  margin-bottom: 60px;
}
.hero-heading__title {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #333333;
}
.hero-headin__text {
  font-size: 22px;
  line-height: 27px;

  color: #ce007e;
  width: 70%;
}
.hero-content-form {
  grid-row: 3/4;
  grid-column: 3/5;
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -10px 20px rgba(196, 46, 174, 0.3);
  border-radius: 10px;
}
.hero-content-form__title {
  margin-bottom: 26px;
  padding: 22px 16px 12px 16px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background: #ce007e;
}
.hero-content-form__client {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
  text-align: center;
}
.hero-content-form-client__name,
.hero-content-form-client__phone {
  display: inline-block;
  margin-bottom: 26px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-bottom: 2px solid #333333;
  font-size: 16px;
  line-height: 20px;

  color: #333333;

  opacity: 0.4;
}
.hero-content-form-client__btn {
  margin-bottom: 26px;
}
.section-hero-img__flouwer {
  position: absolute;
  height: 78%;
  width: 78%;
  left: 0;
  z-index: -1;
  bottom: 0;
  background-image: url(/img/hero-rous.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 110%;
  /* outline: 2px solid red; */
}
.section-hero-img__product {
  position: absolute;
  height: 80%;
  width: 52%;
  right: -34px;
  z-index: -1;
  top: 0;
  background-image: url(/img/hero-product.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 96% 130%;
}

/* *** section-info-product*** */

.section-info-product {
  position: relative;
  background-color: transparent;
  padding-bottom: 20px;
  /* outline: 2px solid #ce007e; */
}
.section-info-product__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 110px;
  /* outline: 2px solid #211f20; */
}
.section-info-product__title {
  /* outline: 2px solid #ce007e; */
  max-width: 646px;
  padding-bottom: 42px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #211f20;
}
.section-info-product__title span {
  color: #ce007e;
}
.section-info-product__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 370px) minmax(100px, 370px);
}
.section-info-product__item {
  list-style: none;
  background: #ce007e;
  box-shadow: 0px 4px 10px rgba(206, 0, 126, 0.5);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 24px 40px;

  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
.section-info-product__item:nth-child(2n-1) {
  grid-column: 2/3;
}
.section-info-product__item:nth-child(2n) {
  grid-column: 3/4;
}
.section-info-product__line {
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: transparent;
}
.section-info-product__img {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 43%;
  height: 100%;
  max-height: 710px;
  /* outline: 2px solid blue; */
  background-image: url(/img/info-product-v24.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

/* ***section-description-product*** */
.section-description-product {
  padding-top: 80px;
  /* padding-bottom: 50px; */
}
.section-description-product-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-description-product__title {
  padding: 0 10px 56px 10px;
  max-width: 644px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #3c3b3c;

  margin: 0 auto;
}
.section-description-product-content {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 610px) 1fr;
  align-items: start;
}
.section-descriprion-product__img {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  /* outline: 2px solid blue; */
  background-image: url(/img/section-description-product.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.section-descriprion-product__list {
  list-style: none;
  padding: 0;
}
.section-description-product__item:not(:last-child) {
  margin-bottom: 42px;
}
.section-description-item__title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ce007e;
}
.description-title-left-one,
.description-title-left-two,
.description-title-left-three {
  position: relative;
}
.description-title-left-one::after,
.description-title-left-two::after,
.description-title-left-three::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 360px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  outline: 1px solid red;
}
.description-title-left-one::after {
  width: 360px;
  height: 110px;
  background-size: auto 100%;
  transform: translate(70%, 90%);
  background-image: url(/img/section-description-left1.svg);
}
.description-title-left-two::after {
  transform: translate(68%, 86%);
  background-image: url(/img/section-description-left2.svg);
}
.description-title-left-three::after {
  transform: translate(89%, 84%);
  max-width: 250px;
  background-image: url(/img/section-description-left3.svg);
}
.section-description-item__text {
  padding: 0;
  font-size: 12px;
  line-height: 15px;

  color: #3c3b3c;

  opacity: 0.8;
}
.description-title-right__one,
.description-title-right__two,
.description-title-right__three {
  position: relative;
}
.description-title-right__one::before,
.description-title-right__two::before,
.description-title-right__three::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;

  height: 170px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 70%;
}
.description-title-right__one::before {
  width: 240px;
  transform: translate(-116%, 96%);
  background-image: url(/img/section-description-right1.svg);
}
.description-title-right__two::before {
  width: 200px;
  transform: translate(-110%, 94%);
  background-image: url(/img/section-description-right2.svg);
}
.description-title-right__three::before {
  width: 200px;
  transform: translate(-100%, 96%);
  background-image: url(/img/section-description-right3.svg);
}

/* ***section-molecul*** */

.section-molecul {
  padding-top: 20px;
  position: relative;
}
.section-molecul::before {
  content: "";
  height: 960px;
  width: 100%;
  position: absolute;
  background-image: url(/img/section-molecul-bg-v2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}
/* .section-molecul-bg__img {
  display: block;
  max-height: 986px;
  background-color: transparent;
} */
.section-molecul-container {
  display: flex;
  justify-content: end;
}
.section-molecul-content {
  padding-top: 860px;
  max-height: 1070px;
  /* background-image: url(/img/section-molecul-girl.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain; */
}
.molecul-content {
  max-width: 50%;
  padding-bottom: 74px;
  display: grid;
  grid-template-rows: 1fr minmax(400px 1fr) 1fr;
}

.content-headline {
  font-size: 30px;
  line-height: 37px;
  padding-left: 12px;
}
.content-headline:not(.content-headline__color) {
  color: #211f20;
}
.content-headline__color {
  color: #ce007e;
}
.molecul-content-text {
  padding-left: 12px;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

  opacity: 0.7;
}
.molecul-content-img__molecula {
  width: 519px;
  height: 380px;
  /* width: 100%;
  height: 100%; */
  background-image: url(/img/section-molecul_molecula.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left top;
  background-size: contain;
}

/* ***section-laminaria*** */
.section-laminaria {
  margin-top: 800px;
}
.section-laminaria__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
}
/* .section-laminaria__item:nth-child(4n) {
  margin-left: 20px;
} */
.section-laminaria__item {
  flex: 1 1 auto;

  max-width: 370px;
  padding: 30px;
  background: #ce007e;
  box-shadow: 0px 4px 10px rgba(206, 0, 126, 0.5);
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.section-laminaria-formula,
.section-laminaria-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.section-laminaria-formula__text,
.section-laminaria-wrap__text {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(206, 0, 126, 0.5);
  font-size: 12px;
  line-height: 15px;

  color: #000000;
}
.section-laminaria-formula__img {
  width: 600px;
  height: 100px;
  background-image: url(/img/section-laminaria-formula.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section-laminaria-wrap__img {
  width: 600px;
  height: 100px;
  background-image: url(/img/section-laminaria-vitam.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
